@charset "utf-8";

*, *:before, *:after {box-sizing: border-box;}
html, body {margin: 0; padding: 0;}
body {font-size: 14px; font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;}
a, h1, h2, h3, h4, h5, h6, input, select, button, option, textarea, optgroup {font-family: inherit; outline: none;}
p, h1, h2, h3, h4, h5, h6, dl, dd, ul, ol, th, td, button, figure, input, textarea, form {margin: 0; padding: 0;}
img, input, button, textarea {border: none;}
img, button, textarea {-webkit-appearance: none;}
table {border-spacing: 0; border-collapse: collapse;}
textarea {resize: none;}
a {text-decoration: none;}
ol, ul {list-style: none;}

.fixed {position: fixed;}
.static {position: static;}
.absolute {position: absolute;}
.relative {position: relative;}

.font-normal {font-weight: normal;}
.bold {font-weight: bold;}
.hide {display: none;}

.clear-l {clear: left;}
.clear-r {clear: right;}
.clear-both {clear: both;}

.align-left {text-align: left;}
.align-center {text-align: center;}
.align-justify {text-align: justify;}
.align-right {text-align: right;}

.valign-top {vertical-align: top;}
.valign-middle {vertical-align: middle;}
.valign-bottom {vertical-align: bottom;}

.break-all {word-break: break-all;}

.normal {white-space: normal;}
.nowrap {white-space: nowrap;}
.pre-wrap {white-space: pre-wrap;}

.fl {float: left;}
.fr {float: right;}
.o-hidden {overflow: hidden;}
.o-auto {overflow: auto;}
.hidden {visibility: hidden;}
.hide {display: none;}
.inline {display: inline;}
.block {display: block;}
.inline-block {display: inline-block;}
.ib {display: inline-block;}
.table {display: table;}
.table-cell {display: table-cell;}
.underline {text-decoration: underline;}
.hover-underline:hover {text-decoration: underline;}
.no-underline {text-decoration: none;}
.pointer {cursor: pointer;}

.absolute-center {position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto;}
.table-method-center {display: table; margin: auto;}
.vertical-center-anything {position: relative; top: 50%; -webkit-transform: -webkit-translateY(-50%); -moz-transform: -moz-translateY(-50%); -o-transform: -o-translateY(-50%); transform: translateY(-50%);}
.overflow-dot {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.cf:after {content: '';display: table;clear: both;}

.arrow-top-blue {width: 0;height: 0;border-style: solid;border-width: 0 5px 7px 5px;border-color: transparent transparent #007bff transparent;}
.arrow-bottom-blue {width: 0;height: 0;border-style: solid;border-width: 7px 5px 0 5px;border-color: #007bff transparent transparent transparent;}
.arrow-left-blue {width: 0;height: 0;border-style: solid;border-width: 5px 7px 5px 0;border-color: transparent #007bff transparent transparent;}
.arrow-left-top-blue {width: 0;height: 0;border-style: solid;border-width: 7px 7px 0 0;border-color: #007bff transparent transparent transparent;}
.arrow-left-bottom-blue {width: 0;height: 0;border-style: solid;border-width: 7px 0 0 7px;border-color: transparent transparent transparent #007bff;}
.arrow-right-blue {width: 0;height: 0;border-style: solid;border-width: 5px 0 5px 7px;border-color: transparent transparent transparent #007bff;}
.arrow-right-top-blue {width: 0;height: 0;border-style: solid;border-width: 0 7px 7px 0;border-color: transparent #007bff transparent transparent;}
.arrow-right-bottom-blue {width: 0;height: 0;border-style: solid;border-width: 0 0 7px 7px;border-color: transparent transparent #007bff transparent;}

.border {border: 1px solid #eee;}
.border-t {border-top: 1px solid #eee;}
.border-r {border-right: 1px solid #eee;}
.border-b {border-bottom: 1px solid #eee;}
.border-l {border-left: 1px solid #eee;}
.border-1px {border-width: 1px;}
.border-2px {border-width: 2px;}
.border-3px {border-width: 3px;}
.border-dashed {border-style: dashed;}
.border-f1 { border-color: #f1f1f1;}
.border-d9 { border-color: #d9d9d9;}

.bt-0 {border-top: 0;}
.br-0 {border-right: 0;}
.bb-0 {border-bottom: 0;}
.bl-0 {border-left: 0;}

.bg-fff {background: #fff;}
.bg-f1 {background: #f1f1f1;}

.placeholder-999::-webkit-input-placeholder { color: #999;}
.placeholder-999::-moz-placeholder { color: #999;}
.placeholder-999:-moz-placeholder { color: #999;}
.placeholder-999:-ms-input-placeholder { color: #999;}

.op-0\.5 {opacity: 0.5;}
.op-0\.6 {opacity: 0.6;}
.op-0\.7 {opacity: 0.7;}
.op-0\.8 {opacity: 0.8;}
.op-0\.9 {opacity: 0.9;}

.op-hover-0\.5:hover {opacity: 0.5;}
.op-hover-0\.6:hover {opacity: 0.6;}
.op-hover-0\.7:hover {opacity: 0.7;}
.op-hover-0\.8:hover {opacity: 0.8;}
.op-hover-0\.9:hover {opacity: 0.9;}
.color-000 {color: #000;} .color-111 {color: #111;} .color-222 {color: #222;} .color-333 {color: #333;} .color-444 {color: #444;} .color-555 {color: #555;} .color-666 {color: #666;} .color-777 {color: #777;} .color-888 {color: #888;} .color-999 {color: #999;} .color-aaa {color: #aaa;} .color-bbb {color: #bbb;} .color-ccc {color: #ccc;} .color-ddd {color: #ddd;} .color-eee {color: #eee;} .color-fff {color: #fff;}
.radius-round {border-radius: 50%;} .radius-1 {border-radius: 1px;} .radius-2 {border-radius: 2px;} .radius-3 {border-radius: 3px;} .radius-4 {border-radius: 4px;} .radius-5 {border-radius: 5px;} .radius-6 {border-radius: 6px;} .radius-7 {border-radius: 7px;} .radius-8 {border-radius: 8px;} .radius-9 {border-radius: 9px;} .radius-10 {border-radius: 10px;} .radius-11 {border-radius: 11px;} .radius-12 {border-radius: 12px;} .radius-13 {border-radius: 13px;} .radius-14 {border-radius: 14px;} .radius-15 {border-radius: 15px;} .radius-16 {border-radius: 16px;} .radius-17 {border-radius: 17px;} .radius-18 {border-radius: 18px;} .radius-19 {border-radius: 19px;} .radius-20 {border-radius: 20px;}
.z--1 {z-index: -1;} .z-10 {z-index: 10;} .z-20 {z-index: 20;} .z-30 {z-index: 30;} .z-40 {z-index: 40;} .z-50 {z-index: 50;} .z-60 {z-index: 60;} .z-70 {z-index: 70;} .z-80 {z-index: 80;} .z-90 {z-index: 90;} .z-100 {z-index: 100;}

.h-100p {height: 100%;}
.w-10p {width: 10%;} .w-20p {width: 20%;} .w-30p {width: 30%;} .w-40p {width: 40%;} .w-50p {width: 50%;} .w-60p {width: 60%;} .w-70p {width: 70%;} .w-80p {width: 80%;} .w-90p {width: 90%;} .w-100p {width: 100%;}
.max-w-100p {max-width: 100%;}

.m-auto {margin: auto;}
.ma-0 {margin: 0;} .ma-1 {margin: 1px;} .ma-2 {margin: 2px;} .ma-3 {margin: 3px;} .ma-4 {margin: 4px;} .ma-5 {margin: 5px;} .ma-6 {margin: 6px;} .ma-7 {margin: 7px;} .ma-8 {margin: 8px;} .ma-9 {margin: 9px;} .ma-10 {margin: 10px;} .ma-15 {margin: 15px;} .ma-20 {margin: 20px;} .ma-25 {margin: 25px;} .ma-30 {margin: 30px;} .ma-35 {margin: 35px;} .ma-40 {margin: 40px;} .ma-45 {margin: 45px;} .ma-50 {margin: 50px;} .ma-60 {margin: 60px;} .ma-70 {margin: 70px;} .ma-80 {margin: 80px;} .ma-90 {margin: 90px;} .ma-100 {margin: 100px;}
.mt-0 {margin-top: 0;} .mt-1 {margin-top: 1px;} .mt-2 {margin-top: 2px;} .mt-3 {margin-top: 3px;} .mt-4 {margin-top: 4px;} .mt-5 {margin-top: 5px;} .mt-6 {margin-top: 6px;} .mt-7 {margin-top: 7px;} .mt-8 {margin-top: 8px;} .mt-9 {margin-top: 9px;} .mt-10 {margin-top: 10px;} .mt-15 {margin-top: 15px;} .mt-20 {margin-top: 20px;} .mt-25 {margin-top: 25px;} .mt-30 {margin-top: 30px;} .mt-35 {margin-top: 35px;} .mt-40 {margin-top: 40px;} .mt-45 {margin-top: 45px;} .mt-50 {margin-top: 50px;} .mt-60 {margin-top: 60px;} .mt-70 {margin-top: 70px;} .mt-80 {margin-top: 80px;} .mt-90 {margin-top: 90px;} .mt-100 {margin-top: 100px;}
.mr-0 {margin-right: 0;} .mr-1 {margin-right: 1px;} .mr-2 {margin-right: 2px;} .mr-3 {margin-right: 3px;} .mr-4 {margin-right: 4px;} .mr-5 {margin-right: 5px;} .mr-6 {margin-right: 6px;} .mr-7 {margin-right: 7px;} .mr-8 {margin-right: 8px;} .mr-9 {margin-right: 9px;} .mr-10 {margin-right: 10px;} .mr-15 {margin-right: 15px;} .mr-20 {margin-right: 20px;} .mr-25 {margin-right: 25px;} .mr-30 {margin-right: 30px;} .mr-35 {margin-right: 35px;} .mr-40 {margin-right: 40px;} .mr-45 {margin-right: 45px;} .mr-50 {margin-right: 50px;} .mr-60 {margin-right: 60px;} .mr-70 {margin-right: 70px;} .mr-80 {margin-right: 80px;} .mr-90 {margin-right: 90px;} .mr-100 {margin-right: 100px;}
.mb-0 {margin-bottom: 0;} .mb-1 {margin-bottom: 1px;} .mb-2 {margin-bottom: 2px;} .mb-3 {margin-bottom: 3px;} .mb-4 {margin-bottom: 4px;} .mb-5 {margin-bottom: 5px;} .mb-6 {margin-bottom: 6px;} .mb-7 {margin-bottom: 7px;} .mb-8 {margin-bottom: 8px;} .mb-9 {margin-bottom: 9px;} .mb-10 {margin-bottom: 10px;} .mb-15 {margin-bottom: 15px;} .mb-20 {margin-bottom: 20px;} .mb-25 {margin-bottom: 25px;} .mb-30 {margin-bottom: 30px;} .mb-35 {margin-bottom: 35px;} .mb-40 {margin-bottom: 40px;} .mb-45 {margin-bottom: 45px;} .mb-50 {margin-bottom: 50px;} .mb-60 {margin-bottom: 60px;} .mb-70 {margin-bottom: 70px;} .mb-80 {margin-bottom: 80px;} .mb-90 {margin-bottom: 90px;} .mb-100 {margin-bottom: 100px;}
.ml-0 {margin-left: 0;} .ml-1 {margin-left: 1px;} .ml-2 {margin-left: 2px;} .ml-3 {margin-left: 3px;} .ml-4 {margin-left: 4px;} .ml-5 {margin-left: 5px;} .ml-6 {margin-left: 6px;} .ml-7 {margin-left: 7px;} .ml-8 {margin-left: 8px;} .ml-9 {margin-left: 9px;} .ml-10 {margin-left: 10px;} .ml-15 {margin-left: 15px;} .ml-20 {margin-left: 20px;} .ml-25 {margin-left: 25px;} .ml-30 {margin-left: 30px;} .ml-35 {margin-left: 35px;} .ml-40 {margin-left: 40px;} .ml-45 {margin-left: 45px;} .ml-50 {margin-left: 50px;} .ml-60 {margin-left: 60px;} .ml-70 {margin-left: 70px;} .ml-80 {margin-left: 80px;} .ml-90 {margin-left: 90px;} .ml-100 {margin-left: 100px;}

.ma--1 {margin: -1px;} .ma--2 {margin: -2px;} .ma--3 {margin: -3px;} .ma--4 {margin: -4px;} .ma--5 {margin: -5px;} .ma--6 {margin: -6px;} .ma--7 {margin: -7px;} .ma--8 {margin: -8px;} .ma--9 {margin: -9px;} .ma--10 {margin: -10px;} .ma--15 {margin: -15px;} .ma--20 {margin: -20px;}
.mt--1 {margin-top: -1px;} .mt--2 {margin-top: -2px;} .mt--3 {margin-top: -3px;} .mt--4 {margin-top: -4px;} .mt--5 {margin-top: -5px;} .mt--6 {margin-top: -6px;} .mt--7 {margin-top: -7px;} .mt--8 {margin-top: -8px;} .mt--9 {margin-top: -9px;} .mt--10 {margin-top: -10px;} .mt--15 {margin-top: -15px;} .mt--20 {margin-top: -20px;}
.mr--1 {margin-right: -1px;} .mr--2 {margin-right: -2px;} .mr--3 {margin-right: -3px;} .mr--4 {margin-right: -4px;} .mr--5 {margin-right: -5px;} .mr--6 {margin-right: -6px;} .mr--7 {margin-right: -7px;} .mr--8 {margin-right: -8px;} .mr--9 {margin-right: -9px;} .mr--10 {margin-right: -10px;} .mr--15 {margin-right: -15px;} .mr--20 {margin-right: -20px;}
.mb--1 {margin-bottom: -1px;} .mb--2 {margin-bottom: -2px;} .mb--3 {margin-bottom: -3px;} .mb--4 {margin-bottom: -4px;} .mb--5 {margin-bottom: -5px;} .mb--6 {margin-bottom: -6px;} .mb--7 {margin-bottom: -7px;} .mb--8 {margin-bottom: -8px;} .mb--9 {margin-bottom: -9px;} .mb--10 {margin-bottom: -10px;} .mb--15 {margin-bottom: -15px;} .mb--20 {margin-bottom: -20px;}
.ml--1 {margin-left: -1px;} .ml--2 {margin-left: -2px;} .ml--3 {margin-left: -3px;} .ml--4 {margin-left: -4px;} .ml--5 {margin-left: -5px;} .ml--6 {margin-left: -6px;} .ml--7 {margin-left: -7px;} .ml--8 {margin-left: -8px;} .ml--9 {margin-left: -9px;} .ml--10 {margin-left: -10px;} .ml--15 {margin-left: -15px;} .ml--20 {margin-left: -20px;}

.pa-0 {padding: 0;} .pa-1 {padding: 1px;} .pa-2 {padding: 2px;} .pa-3 {padding: 3px;} .pa-4 {padding: 4px;} .pa-5 {padding: 5px;} .pa-6 {padding: 6px;} .pa-7 {padding: 7px;} .pa-8 {padding: 8px;} .pa-9 {padding: 9px;} .pa-10 {padding: 10px;} .pa-15 {padding: 15px;} .pa-20 {padding: 20px;} .pa-25 {padding: 25px;} .pa-30 {padding: 30px;} .pa-35 {padding: 35px;} .pa-40 {padding: 40px;} .pa-45 {padding: 45px;} .pa-50 {padding: 50px;} .pa-60 {padding: 60px;} .pa-70 {padding: 70px;} .pa-80 {padding: 80px;} .pa-90 {padding: 90px;} .pa-100 {padding: 100px;}
.pt-0 {padding-top: 0;} .pt-1 {padding-top: 1px;} .pt-2 {padding-top: 2px;} .pt-3 {padding-top: 3px;} .pt-4 {padding-top: 4px;} .pt-5 {padding-top: 5px;} .pt-6 {padding-top: 6px;} .pt-7 {padding-top: 7px;} .pt-8 {padding-top: 8px;} .pt-9 {padding-top: 9px;} .pt-10 {padding-top: 10px;} .pt-15 {padding-top: 15px;} .pt-20 {padding-top: 20px;} .pt-25 {padding-top: 25px;} .pt-30 {padding-top: 30px;} .pt-35 {padding-top: 35px;} .pt-40 {padding-top: 40px;} .pt-45 {padding-top: 45px;} .pt-50 {padding-top: 50px;} .pt-60 {padding-top: 60px;} .pt-70 {padding-top: 70px;} .pt-80 {padding-top: 80px;} .pt-90 {padding-top: 90px;} .pt-100 {padding-top: 100px;}
.pr-0 {padding-right: 0;} .pr-1 {padding-right: 1px;} .pr-2 {padding-right: 2px;} .pr-3 {padding-right: 3px;} .pr-4 {padding-right: 4px;} .pr-5 {padding-right: 5px;} .pr-6 {padding-right: 6px;} .pr-7 {padding-right: 7px;} .pr-8 {padding-right: 8px;} .pr-9 {padding-right: 9px;} .pr-10 {padding-right: 10px;} .pr-15 {padding-right: 15px;} .pr-20 {padding-right: 20px;} .pr-25 {padding-right: 25px;} .pr-30 {padding-right: 30px;} .pr-35 {padding-right: 35px;} .pr-40 {padding-right: 40px;} .pr-45 {padding-right: 45px;} .pr-50 {padding-right: 50px;} .pr-60 {padding-right: 60px;} .pr-70 {padding-right: 70px;} .pr-80 {padding-right: 80px;} .pr-90 {padding-right: 90px;} .pr-100 {padding-right: 100px;}
.pb-0 {padding-bottom: 0;} .pb-1 {padding-bottom: 1px;} .pb-2 {padding-bottom: 2px;} .pb-3 {padding-bottom: 3px;} .pb-4 {padding-bottom: 4px;} .pb-5 {padding-bottom: 5px;} .pb-6 {padding-bottom: 6px;} .pb-7 {padding-bottom: 7px;} .pb-8 {padding-bottom: 8px;} .pb-9 {padding-bottom: 9px;} .pb-10 {padding-bottom: 10px;} .pb-15 {padding-bottom: 15px;} .pb-20 {padding-bottom: 20px;} .pb-25 {padding-bottom: 25px;} .pb-30 {padding-bottom: 30px;} .pb-35 {padding-bottom: 35px;} .pb-40 {padding-bottom: 40px;} .pb-45 {padding-bottom: 45px;} .pb-50 {padding-bottom: 50px;} .pb-60 {padding-bottom: 60px;} .pb-70 {padding-bottom: 70px;} .pb-80 {padding-bottom: 80px;} .pb-90 {padding-bottom: 90px;} .pb-100 {padding-bottom: 100px;}
.pl-0 {padding-left: 0;} .pl-1 {padding-left: 1px;} .pl-2 {padding-left: 2px;} .pl-3 {padding-left: 3px;} .pl-4 {padding-left: 4px;} .pl-5 {padding-left: 5px;} .pl-6 {padding-left: 6px;} .pl-7 {padding-left: 7px;} .pl-8 {padding-left: 8px;} .pl-9 {padding-left: 9px;} .pl-10 {padding-left: 10px;} .pl-15 {padding-left: 15px;} .pl-20 {padding-left: 20px;} .pl-25 {padding-left: 25px;} .pl-30 {padding-left: 30px;} .pl-35 {padding-left: 35px;} .pl-40 {padding-left: 40px;} .pl-45 {padding-left: 45px;} .pl-50 {padding-left: 50px;} .pl-60 {padding-left: 60px;} .pl-70 {padding-left: 70px;} .pl-80 {padding-left: 80px;} .pl-90 {padding-left: 90px;} .pl-100 {padding-left: 100px;}

.top-0 {top: 0;} .top-1 {top: 1px;} .top-2 {top: 2px;} .top-3 {top: 3px;} .top-4 {top: 4px;} .top-5 {top: 5px;} .top-6 {top: 6px;} .top-7 {top: 7px;} .top-8 {top: 8px;} .top-9 {top: 9px;} .top-10 {top: 10px;}
.right-0 {right: 0;} .right-1 {right: 1px;} .right-2 {right: 2px;} .right-3 {right: 3px;} .right-4 {right: 4px;} .right-5 {right: 5px;} .right-6 {right: 6px;} .right-7 {right: 7px;} .right-8 {right: 8px;} .right-9 {right: 9px;} .right-10 {right: 10px;}
.bottom-0 {bottom: 0;} .bottom-1 {bottom: 1px;} .bottom-2 {bottom: 2px;} .bottom-3 {bottom: 3px;} .bottom-4 {bottom: 4px;} .bottom-5 {bottom: 5px;} .bottom-6 {bottom: 6px;} .bottom-7 {bottom: 7px;} .bottom-8 {bottom: 8px;} .bottom-9 {bottom: 9px;} .bottom-10 {bottom: 10px;}
.left-0 {left: 0;} .left-1 {left: 1px;} .left-2 {left: 2px;} .left-3 {left: 3px;} .left-4 {left: 4px;} .left-5 {left: 5px;} .left-6 {left: 6px;} .left-7 {left: 7px;} .left-8 {left: 8px;} .left-9 {left: 9px;} .left-10 {left: 10px;}

.top--1 {top: -1px;} .top--2 {top: -2px;} .top--3 {top: -3px;} .top--4 {top: -4px;} .top--5 {top: -5px;} .top--6 {top: -6px;} .top--7 {top: -7px;} .top--8 {top: -8px;} .top--9 {top: -9px;} .top--10 {top: -10px;}
.right--1 {right: -1px;} .right--2 {right: -2px;} .right--3 {right: -3px;} .right--4 {right: -4px;} .right--5 {right: -5px;} .right--6 {right: -6px;} .right--7 {right: -7px;} .right--8 {right: -8px;} .right--9 {right: -9px;} .right--10 {right: -10px;}
.bottom--1 {bottom: -1px;} .bottom--2 {bottom: -2px;} .bottom--3 {bottom: -3px;} .bottom--4 {bottom: -4px;} .bottom--5 {bottom: -5px;} .bottom--6 {bottom: -6px;} .bottom--7 {bottom: -7px;} .bottom--8 {bottom: -8px;} .bottom--9 {bottom: -9px;} .bottom--10 {bottom: -10px;}
.left--1 {left: -1px;} .left--2 {left: -2px;} .left--3 {left: -3px;} .left--4 {left: -4px;} .left--5 {left: -5px;} .left--6 {left: -6px;} .left--7 {left: -7px;} .left--8 {left: -8px;} .left--9 {left: -9px;} .left--10 {left: -10px;}

.top-10p {top: 10%;} .top-20p {top: 20%;} .top-30p {top: 30%;} .top-40p {top: 40%;} .top-50p {top: 50%;} .top-60p {top: 60%;} .top-70p {top: 70%;} .top-80p {top: 80%;} .top-90p {top: 90%;} .top-100p {top: 100%;}
.right-10p {right: 10%;} .right-20p {right: 20%;} .right-30p {right: 30%;} .right-40p {right: 40%;} .right-50p {right: 50%;} .right-60p {right: 60%;} .right-70p {right: 70%;} .right-80p {right: 80%;} .right-90p {right: 90%;} .right-100p {right: 100%;}
.bottom-10p {bottom: 10%;} .bottom-20p {bottom: 20%;} .bottom-30p {bottom: 30%;} .bottom-40p {bottom: 40%;} .bottom-50p {bottom: 50%;} .bottom-60p {bottom: 60%;} .bottom-70p {bottom: 70%;} .bottom-80p {bottom: 80%;} .bottom-90p {bottom: 90%;} .bottom-100p {bottom: 100%;}
.left-10p {left: 10%;} .left-20p {left: 20%;} .left-30p {left: 30%;} .left-40p {left: 40%;} .left-50p {left: 50%;} .left-60p {left: 60%;} .left-70p {left: 70%;} .left-80p {left: 80%;} .left-90p {left: 90%;} .left-100p {left: 100%;}

.valign-1 {vertical-align: 1px;} .valign-2 {vertical-align: 2px;} .valign-3 {vertical-align: 3px;} .valign-4 {vertical-align: 4px;} .valign-5 {vertical-align: 5px;} .valign-6 {vertical-align: 6px;} .valign-7 {vertical-align: 7px;} .valign-8 {vertical-align: 8px;} .valign-9 {vertical-align: 9px;} .valign-10 {vertical-align: 10px;}
.valign--1 {vertical-align: -1px;} .valign--2 {vertical-align: -2px;} .valign--3 {vertical-align: -3px;} .valign--4 {vertical-align: -4px;} .valign--5 {vertical-align: -5px;} .valign--6 {vertical-align: -6px;} .valign--7 {vertical-align: -7px;} .valign--8 {vertical-align: -8px;} .valign--9 {vertical-align: -9px;} .valign--10 {vertical-align: -10px;}

.lh-1 {line-height: 1;} .lh-1\.1 {line-height: 1.1;} .lh-1\.2 {line-height: 1.2;} .lh-1\.3 {line-height: 1.3;} .lh-1\.4 {line-height: 1.4;} .lh-1\.5 {line-height: 1.5;} .lh-1\.6 {line-height: 1.6;} .lh-1\.7 {line-height: 1.7;} .lh-1\.8 {line-height: 1.8;} .lh-1\.9 {line-height: 1.9;} .lh-2 {line-height: 2;}
.fz-8 {font-size: 8px;} .fz-9 {font-size: 9px;} .fz-10 {font-size: 10px;} .fz-11 {font-size: 11px;} .fz-12 {font-size: 12px;} .fz-13 {font-size: 13px;} .fz-14 {font-size: 14px;} .fz-15 {font-size: 15px;} .fz-16 {font-size: 16px;} .fz-17 {font-size: 17px;} .fz-18 {font-size: 18px;} .fz-19 {font-size: 19px;} .fz-20 {font-size: 20px;} .fz-22 {font-size: 22px;} .fz-24 {font-size: 24px;} .fz-26 {font-size: 26px;} .fz-28 {font-size: 28px;} .fz-30 {font-size: 30px;}

/* 悬停时出现的内容，初始隐藏 */
.hover-show {display: none;}
.hover-visible {visibility: hidden;}
.hover-block {display: none;}
.hover-inline {display: none;}
.hover-inline-block {display: none;}
.hover-table {display: none;}

/* 悬停时出现的内容，display 应该是什么？ */
.hover-box.press .hover-hide, .hover-box:hover .hover-hide {display: none;}
.hover-box.press .hover-hidden, .hover-box:hover .hover-hidden {visibility: hidden;}
.hover-box.press .hover-block, .hover-box:hover .hover-block {display: block;}
.hover-box.press .hover-inline, .hover-box:hover .hover-inline {display: inline;}
.hover-box.press .hover-inline-block, .hover-box:hover .hover-inline-block {display: inline-block;}
.hover-box.press .hover-table, .hover-box:hover .hover-table {display: table;}
.hover-box.press .hover-visible, .hover-box:hover .hover-visible {visibility: visible;}


/* 2018.08.23 */
@font-face {font-family: 'FontAwesome'; src: url('fonts/fontawesome-webfont.eot'); src: url('fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2') format('woff2'), url('fonts/fontawesome-webfont.woff') format('woff'), url('fonts/fontawesome-webfont.ttf') format('truetype'), url('fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg'); font-weight: normal; font-style: normal; }

/* 公共类的补充 */
.color-blue {color: #0c77fb;}

.metro-container {display: table; margin: auto;}
.metro-box {display: inline-block;vertical-align: top;}

.metro-item {display: block;float: left;color: #fff;line-height: 198px;text-align: center;position: relative;margin: 6px;height: 198px;cursor: pointer;transition: 0.2s;}
.metro-item:hover {opacity: 0.9;}
.metro-item.metro-thin {width: 198px;}
.metro-item.metro-wide {width: 408px;}
.metro-item .metro-content { vertical-align: middle; line-height: normal; display: inline-block;}
.metro-item .metro-content * { line-height: normal;}
.metro-item .metro-title {color: #fff;font-size: 18px;position: absolute;left: 24px;bottom: 14px;}

.metro-orange {background-image: linear-gradient(50deg, #ff771c 0%, #ffb01c 100%);}
.metro-pink {background-image: linear-gradient(50deg, #e32141 0%, #e3227c 100%);}
.metro-green {background-image: linear-gradient(50deg, #3db808 0%, #68b807 100%);}
.metro-green2 {background-image: linear-gradient(50deg, #00a8b8 0%, #00b893 100%);}
.metro-blue {background-image: linear-gradient(50deg, #1758e6 0%, #178ce5 100%);}
.metro-purple {background-image: linear-gradient(50deg, #5b19ff 0%, #9012ff 100%);}

.info-contact {border-radius: 4px;vertical-align: middle;display: inline-block;color: #fff;background: #0B1928;box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);list-style: none;padding: 4px 10px;border: 1px solid #353E47;}
.info-contact li {cursor: pointer;padding: 8px 0;font-size: 16px;}
.info-contact li + li {border-top: 1px solid #45505C;}
.info-contact li > * {vertical-align: middle;}
.info-contact li:hover {opacity: 0.8;}

.main_header {height: 60px;line-height: 60px;background: #192033;background: rgba(52, 73, 94, 0.3);position: fixed;width: 100%;top: 0;}
.main_header .logo_link {margin-left: 30px;display: inline-block;}
.main_header .logo_img {vertical-align: middle;margin-top: -1px;}
.main_header .user_center {float: right;margin-right: 14px;}
.main_header .action_block {float: left;}
.main_header .action_block a { color: #fff; font-size: 14px; text-decoration: none; outline: 0;}
.main_header .action_block > a {padding: 0 11px;display: inline-block;outline: 0;position: relative;line-height: normal;}
.main_header .action_block .user_box { padding: 0 21px;}
.main_header .action_block a img {vertical-align: middle;}
.main_header .action_block .user_name {display: inline-block;max-width: 80px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;vertical-align: middle;color: #2475fc;}
.main_header .user_message { position: relative;}
.main_header .message_tip {width: 6px;height: 6px;border-radius: 50%;background: #ff0000;display: block;position: absolute;top: -5px;right: 2px;}

.nav-panel-desk {font-size: 0;}
.nav-panel-desk:after {content: '';display: block;clear: both;}
.nav-panel-desk > * {font-size: 16px;}
.nav-panel-desk ul { margin: 0; padding: 0; list-style: none;}
.nav-panel-desk li { float: left;}
.nav-panel-desk .nav-btn {display:inline-block;color: #fff;text-decoration: none;margin: 5px 26px;height: 47px;padding: 8px;border-bottom: 2px solid transparent;line-height: normal;outline: 0;}
.nav-panel-desk .nav-img {vertical-align: middle;margin-right: 4px;border: none;}
.nav-panel-desk .nav-img-hover {display: none;}
.nav-panel-desk .nav-btn.press, .nav-panel-desk .nav-btn:hover {color: #2475fc;border-bottom: 3px solid #2475FC;/* background: linear-gradient(to bottom, rgba(32,61,113,0), rgba(32,61,113,1)); */}
.nav-panel-desk .nav-btn.press .nav-img-default, .nav-panel-desk .nav-btn:hover .nav-img-default { display: none;}
.nav-panel-desk .nav-btn.press .nav-img-hover, .nav-panel-desk .nav-btn:hover .nav-img-hover { display: inline;}

.header-bar { position: absolute; width: 100%; height: 66px; background: rgba(255,255,255,0.05);}
.logo-img {margin-top: 7px;margin-left: 24px;}

/* 登录框 */
.login_content {position: relative;max-width: 1600px;}
.login_box_1 {background: #fff;border-radius: 3px;top: 50%;top: 50vh;position: absolute;right: 80px;margin-top: -200px;padding-bottom: 20px;}
.input_box_1 {background: transparent;border: none;outline: 0;color: #333;width: 260px;margin-left: 15px;font-family: "Microsoft YaHei";font-size: 16px;padding: 0;line-height: 50px;height: 50px;}
.input_box_1:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px #1F2428 inset; -webkit-text-fill-color: #fff !important;}
.input_field_1 {border: 1px solid #E7E7E7;border-radius: 3px;padding: 0 8px;width: 370px;margin-bottom: 22px;}
.input_field_1 > * { vertical-align: middle;}
.input_field_1 > img { margin: 0 8px;}
.input_field_2 {border: 1px solid #E7E7E7;border-radius: 3px;padding: 0 8px;width: 240px;margin-bottom: 22px;display: inline-block;}
.input_field_2 > * { vertical-align: middle;}
.input_field_2 > img { margin: 0 8px;}
.input_field_1.press {border: 1px solid #1275f8;}
.input_field_2.press {border: 1px solid #1275f8;}
.input_box_2 {background: transparent;border: none;outline: 0;color: #333;width: 168px;margin-left: 15px;font-family: "Microsoft YaHei";font-size: 16px;line-height: 50px;height: 50px;padding: 0;}
.input_box_2:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px #1F2428 inset; -webkit-text-fill-color: #fff !important;}
.input_field_1 .password_view {margin: 0 0 0 8px;cursor: pointer;}
.captcha_field {display: inline-block;vertical-align: top;margin-left: 16px;margin-top: 1px;}
.captcha_text {color: #3895fd;font-size: 12px;display: block;margin-top: 4px;text-align: center;}
.change_captcha {cursor: pointer;width: 72px;}
.login_box_1 input::-webkit-input-placeholder { color: #aeaeae;}
.login_box_1 input::-moz-placeholder { color: #aeaeae;}
.login_box_1 input:-ms-input-placeholder { color: #aeaeae;}
.login_box_1 input:-moz-placeholder { color: #aeaeae;}
.placeholder { color: #aeaeae; }
.check_box { cursor: pointer; display: inline-block;}
.check_box .check_img { width: 18px; vertical-align: middle;}
.check_box .check_label { font-size: 14px; cursor: pointer; vertical-align: middle;}
.check_box input[type="checkbox"] { display: none;}
.check_box .checked { display: none;}
.check_box.press .unchecked { display: none;}
.check_box.press .checked { display: inline;}
.check_field {margin: 5px 0 35px 35px;}
.check_field .check_label {color: #1abc9c;margin-left: 6px;}
.login_btn_1 {display: block;color: #fff;font-size: 18px;text-align: center;line-height: 50px;background-color: #1275f8;border-radius: 3px;text-decoration: none;margin: 14px auto 18px;width: 370px;}
.login_btn_1:hover {box-shadow: 0 0 10px rgba(0, 119, 205, 0.68);color: #fff;}
.field_box {padding: 0 34px;margin-top: 80px;}
.login_title {position: absolute;top: -45px;width: 100%;text-align: center;}
.hexagon {line-height: 58px;text-align: center;font-size: 18px;color: #fff;padding: 0 38px;display: inline-block;white-space: nowrap;position: relative;height: 58px;background-color: #1275f8;margin: 16.74px 0;}
.hexagon:before,
.hexagon:after {content: "";position: absolute;width: 0;border-top: 29px solid transparent;border-bottom: 29px solid transparent;}
.hexagon:before {right: 100%;border-right: 16.74px solid #1275f8;}
.hexagon:after {left: 100%;width: 0;border-left: 16.74px solid #1275f8;}

.header-system {height: 66px;line-height: 64px;position: fixed;top: 0;left: 0;right: 0;background: #0387FF;background-image: linear-gradient(to right, #0C77FB 0%, #5764DA 100%);z-index: 100;}
.header-system .header-logo {text-decoration: none;margin-left: 20px;}
.header-system .header-logo img {margin-top: 6px;}

/* 导航栏样式 */
.nav-panel-h {font-size: 0;}
.nav-panel-h:after {content: '';display: block;clear: both;}
.nav-panel-h > * {font-size: 14px;}
.nav-panel-h ul { margin: 0; padding: 0; list-style: none;}
.nav-panel-h li { float: left;}
.nav-panel-h .nav-btn {display:inline-block;color: #fff;text-decoration: none;margin: 10px 16px;padding: 10px 5px;border-bottom: 2px solid transparent;line-height: normal;outline: 0;}
.nav-panel-h .nav-img { vertical-align: -3px; margin-right: 4px; border: none;}
.nav-panel-h .nav-btn.press, .nav-panel-3 .nav-btn:hover { color: #fff; border-bottom: 2px solid #fff;}
.nav-panel-h .nav-btn.press .nav-img-hover, .nav-panel-3 .nav-btn:hover .nav-img-hover { display: inline;}

.color-orange {color: #ff7b0d;}
.bg-fa {background: #fafafa;}
.bg-f7 {background: #f7f7f7;}
.box-shadow-light {box-shadow: 0 0 1px rgba(51, 51, 51, 0.15);}
.border-left-blue {width: 3px;height: 20px;position: absolute;left: 0px;top: 50%;background: #0C77FB;margin-top: -1px;}

.ul_tool {color: #354046;font-size: 14px;list-style-type: none;padding: 0;margin: 0;}
.ul_tool li {display: block;position: relative;padding: 0;border-bottom: 1px solid #EEF1F2;}
.ul_tool li.press, .ul_tool li:hover {background: #F8FAFA;}
.ul_tool li.press .nav_name, .ul_tool li:hover .nav_name {color: #2870EF;}
.ul_tool li .sub_top_1 {color: #354046;text-decoration: none;padding: 12px 20px;display: block;cursor: pointer;text-align: left;}
.ul_tool li .sub_top_1:after {content: "";display: table;clear: both;}
.ul_tool li .nav_name {vertical-align: sub;display: inline-block;color: #333;}
.ul_tool li .nav_num { background-color: #e6f6f3; border: 1px solid #d5e1df; border-radius: 10px; padding: 2px 12px; color: #0C77FB; float: right;}
.ul_tool li.press .sub_ul_1 { display: block; margin: 0 -12px; margin-top: 15px; margin-bottom: -12px;color: #2870EF;}
.ul_tool .sub_li_1 { color: #354046; font-weight: bold; padding: 10px 0; border-left: 1px solid transparent; padding-left: 20px;}
.ul_tool .sub_li_1.press,.ul_tool .sub_li_1:hover { border: none; background: #EFF3F4; border-left: 1px solid #0C77FB;}
.ul_tool .sub_li_1.press a,.ul_tool .sub_li_1:hover a { color: #0C77FB;}

.table-info {width: 100%;border-collapse: collapse;border-spacing: 0;color: #444;table-layout: fixed;background: #fff;}
.table-info thead {background: #F7F6F6;}
.table-info thead th{font-size: 14px;font-weight: normal;padding: 14px 0;border: 1px solid #EEE;/* border-bottom: 1px solid #F0F1F2; */text-align: center;/* background: #273446; */color: #222;}
.table-info tbody td{padding: 16px 4px;border: 1px solid #EEEEEE;font-size: 14px;text-indent: 6px;word-break: break-all;}

.search-box-little {position: relative;display: inline-block;border-radius: 2px;background: #fff;border: 1px solid #E6E6E6;width: 100%;}
.search-box-little .str-box {margin-right: 30px;padding-left: 10px;}
.search-box-little .str-input {width: 100%;font-size: 14px;color: #333;background: transparent;outline: 0;border: 0;padding-left: 0;box-sizing: border-box;padding: 8px 0;}
.search-box-little .i-btn-box {float: right;width: 23px;}
.search-box-little .i-btn {cursor: pointer;background: transparent;outline: 0;border: 0;padding: 4px;position: relative;top: 5px;right: 2px;}
.search-box-little .i-btn img {vertical-align: baseline;}

.table-popup {width: 100%;border-collapse: collapse;border-spacing: 0;color: #222;table-layout: fixed;background: #fff;}
.table-popup thead {background: #F7F6F6;}
.table-popup thead th{font-size: 14px;font-weight: normal;padding: 14px 0;border: 1px solid #EEE;/* border-bottom: 1px solid #F0F1F2; */text-align: center;/* background: #273446; */color: #222;}
.table-popup tbody td{padding: 12px 4px;font-size: 14px;word-break: break-all;}
.table-popup tbody td:hover {/* background: #FBFCFD; */}

.btn-middle {display:inline-block;line-height: 1;font-size: 14px;outline: 0;border: 0;color: #3475FA;border: 1px solid #227DFF;border-radius: 2px;padding: 0 12px;cursor: pointer;text-decoration: none;height: 30px;line-height: 28px;}
.btn-middle .btn-hover { display: none;}
.btn-middle .btn-icon { border: none;}
.btn-middle:hover .btn-no-hover { display: none;}
.btn-middle:hover .btn-hover { display: inline;}
.btn-middle.btn-blue {color: #fff; background: #227DFF;}
.btn-middle.btn-grey {color: #fff;border: 1px solid #C1C1C1;background: #C1C1C1;}

.nav-notice-list-box {font-size: 12px;font-weight: 400;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;text-rendering: optimizelegibility;color: rgba(10,18,32,.64);box-sizing: border-box;z-index: 10;}
.nav-notice-list-box * {box-sizing: border-box;}
.nav-notice-list-box li, .nav-notice-list-box p, .nav-notice-list-box ul {margin: 0;padding: 0;-webkit-text-size-adjust: none;}
.nav-notice-list-box ul {list-style: none;}
.nav-notice-list-box i {font-style: normal;}
.nav-notice-list-box .clearfix:after, .nav-notice-list-box .clearfix:before {display: table;content: "";}
.nav-notice-list-box .clearfix:after {clear: both;}
.nav-notice-list-box .clearfix {zoom: 1;}
.nav-notice-list-box .bdp-icon {display: inline-block;width: 16px;height: 16px;vertical-align: middle;}
.nav-notice-list-box ::-webkit-scrollbar {width: 14px;height: 14px;padding: 0;}
.nav-notice-list-box ::-webkit-scrollbar-button {display: block;width: 0;height: 0;}
.nav-notice-list-box ::-webkit-scrollbar-corner {background-color: transparent;}
.nav-notice-list-box ::-webkit-scrollbar-thumb {border-radius: 2px;background: rgba(128, 133, 144, 0.15);}
.nav-notice-list-box ::-webkit-scrollbar-track {border-radius: 2px;background: rgba(128, 133, 144, 0.06);}
.nav-notice-list-box .clearfix:after, .nav-notice-list-box .clearfix:before {display: table;line-height: 0;content: "";}
.nav-notice-list-box .clearfix:after {clear: both;}
.nav-notice-list-box ::-moz-selection {background-color: rgba(81, 130, 228, 0.2);}
.nav-notice-list-box .bdp-icon {opacity: 1;}
.nav-notice-list-box .bdp-icon:hover {opacity: 0.64;}
.nav-notice-list-box .bdp-tab-wrap {zoom: 1;}
.nav-notice-list-box .bdp-tab-wrap:after, .nav-notice-list-box .bdp-tab-wrap:before {display: table;content: "";}
.nav-notice-list-box .bdp-tab-wrap:after {clear: both;}
.nav-notice-list-box .nav-notice-list-wrap {position: relative;line-height: 1.6em;cursor: auto;text-align: left;width: 272px;/* height: 362px; */}
.nav-notice-list-box .nav-notice-list-wrap::before {content: "";display: block;position: absolute;width: 2px;top: -14px;left: 50%;margin-left: 79px;z-index: 0;}
.nav-notice-list-box .nav-notice-list-wrap .notice-tab {padding: 6px 0 0;z-index: 10;background: #144A9E;color: #fff;font-size: 14px;}
.nav-notice-list-box .nav-notice-list-wrap .notice-tab .notice-tab-item {position: relative;width: 86px;height: 42px;line-height: 42px;padding: 0;margin-right: 0;text-align: center;-webkit-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
.nav-notice-list-box .nav-notice-list-wrap .notice-tab .notice-tab-item .unread-len {display: inline-block;height: 14px;padding: 0 2px;line-height: 14px;text-align: center;border-radius: 2px;font-size: 12px;padding: 0 3px;font-family: Arial;-webkit-transform: scale(0.85);-ms-transform: scale(0.85);-o-transform: scale(0.85);transform: scale(0.85);}
.nav-notice-list-box .nav-notice-list-wrap .notice-list-scroll {/*height: calc(100% - 40px - 46px);*/max-height: 276px;overflow-y: auto;}
.nav-notice-list-box .nav-notice-list-wrap .notice-list {height: 100%;overflow-y: auto;}
.nav-notice-list-box .nav-notice-list-wrap .notice-item-wrap {padding: 12px 16px;-webkit-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;border-bottom: 1px solid #28497A;}
.nav-notice-list-box .nav-notice-list-wrap .notice-item-wrap:hover {cursor: pointer;}
.nav-notice-list-box .nav-notice-list-wrap .notice-item-wrap.notice-unread .notice-html {text-indent: 11px;}
.nav-notice-list-box .nav-notice-list-wrap .notice-item-wrap.notice-unread .notice-html::before {content: "";position: absolute;top: 5px;left: 0;display: block;width: 6px;height: 6px;border-radius: 100%;}
.nav-notice-list-box .nav-notice-list-wrap .notice-item-wrap .notice-item {float: left;}
.nav-notice-list-box .nav-notice-list-wrap .notice-item-wrap .notice-html {position: relative;font-size: 12px;line-height: 17px;-webkit-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
.nav-notice-list-box .nav-notice-list-wrap .notice-item-wrap .notice-html.too-long {height: 34px;overflow: hidden;}
.nav-notice-list-box .nav-notice-list-wrap .notice-item-wrap .notice-html p {word-break: break-all;}
.nav-notice-list-box .nav-notice-list-wrap .notice-item-wrap .notice-sendtime {margin-top: 4px;}
.nav-notice-list-box .nav-notice-list-wrap .nav-notice-operate {height: 40px;line-height: 20px;padding: 10px 16px;background: #144A9E;}
.nav-notice-list-box .nav-notice-list-wrap .nav-notice-operate .see-all {float: right;cursor: pointer;font-weight: 700;}
.nav-notice-list-box .nav-notice-list-wrap .nav-notice-operate .see-all .bdp-icon {margin-top: -2px;}
.nav-notice-list-box .nav-notice-list-wrap .nav-notice-operate .see-all:hover {text-decoration: underline;}
.nav-notice-list-box .nav-notice-list-wrap .nav-notice-operate .read-all {float: left;cursor: pointer;-webkit-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;color: #fff;}
.nav-notice-list-box .nav-notice-list-wrap .nav-notice-operate .read-all:hover {text-decoration: underline;}
.nav-notice-list-box .bdp-tab-wrap .bdp-tab-active, .nav-notice-list-box .bdp-tab-wrap .bdp-tab-item {-webkit-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
.nav-notice-list-box .bdp-tab-wrap .bdp-tab-item {float: left;height: 40px;padding: 0 16px;margin-right: 8px;line-height: 40px;cursor: pointer;}
.nav-notice-list-box .bdp-tab-wrap .bdp-tab-active {font-weight: 700;}
.nav-notice-list-box .nav-notice-list-wrap {background: #10346B;box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1), 0 10px 12px 0 rgba(170, 182, 206, 0.36);}
.nav-notice-list-box .nav-notice-list-wrap::before {border: solid 7px transparent;border-bottom-color: #0F336A;}
.nav-notice-list-box .nav-notice-list-wrap .notice-tab .notice-tab-item.bdp-tab-active {color: #33ccff;}
.nav-notice-list-box .nav-notice-list-wrap .notice-tab .notice-tab-item .unread-len {color: #fff;background-color: #5182e4;}
.nav-notice-list-box .nav-notice-list-wrap .notice-tab .notice-tab-item:hover {color: #33ccff;}
.nav-notice-list-box .nav-notice-list-wrap .notice-item-wrap:hover {background-color: #10346B;}
.nav-notice-list-box .nav-notice-list-wrap .notice-item-wrap.notice-unread .notice-html {color: #d4d4d4;}
.nav-notice-list-box .nav-notice-list-wrap .notice-item-wrap.notice-unread .notice-html::before {background-color: #5182e4;}
.nav-notice-list-box .nav-notice-list-wrap .notice-item-wrap .notice-html {color: rgba(10, 18, 32, 0.87);}
.nav-notice-list-box .nav-notice-list-wrap .notice-item-wrap .notice-sendtime {color: #039dcd;}
.nav-notice-list-box .nav-notice-list-wrap .nav-notice-operate {box-shadow: inset 0 1px 0 0 rgba(10, 18, 32, 0.06);}
.nav-notice-list-box .nav-notice-list-wrap .nav-notice-operate .see-all {color: #33ccff;}
.nav-notice-list-box .nav-notice-list-wrap .nav-notice-operate .read-all:hover {color: rgba(10, 18, 32, 0.87);}
.nav-notice-list-box .bdp-tab-wrap {box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;}
.nav-notice-list-box .bdp-tab-wrap .bdp-tab-item:hover {color: #33ccff;}
.nav-notice-list-box .bdp-tab-wrap .bdp-tab-active {color: rgba(10, 18, 32, 0.87);box-shadow: 0 -2px 0 0 #5182e4 inset;}
.nav-notice-list-box .noscroll:not(:focus) .chart-table:hover {transition: box-shadow 0.2s;cursor: pointer;border-radius: 2px;}

.nav-panel {font-size: 0;}
.nav-panel:after {content: '';display: block;clear: both;}
.nav-panel > * {font-size: 14px;}
.nav-panel ul {margin: 0;padding: 0;list-style: none;}
.nav-panel li {float: left;margin: 0 8px;}
.nav-panel .nav-btn {display:inline-block;color: #333;text-decoration: none;padding: 8px 10px;margin: 0;border-bottom: 2px solid transparent;line-height: 18px;outline: 0;font-size: 14px;}
.nav-panel .nav-img { vertical-align: -3px; margin-right: 4px; border: none;}
.nav-panel .nav-btn.press, .nav-panel .nav-btn:hover {color: #227dff;border-bottom: 2px solid #227dff;font-weight: bold;}
.nav-panel .nav-btn.press .nav-img-hover, .nav-panel .nav-btn:hover .nav-img-hover { display: inline;}

.date-box-1 {position: relative;display: inline-block;border-radius: 2px;background: #fff;border: 1px solid #E6E6E6;}
.date-box-1 .str-box {margin-right: 23px;}
.date-box-1 .str-input {width: 100%;font-size: 12px;color: #333;background: transparent;outline: 0;border: 0;box-sizing: border-box;padding: 7px 0 7px 7px;}
.date-box-1 .i-btn-box {float: right;margin-right: 5px;}
.date-box-1 .i-btn {cursor: pointer;background: transparent;outline: 0;border: 0;position: relative;top: 6px;}
.date-box-1 .i-btn img {vertical-align: baseline;}

.table-oldage {table-layout: fixed;}
.table-oldage th {border: 1px solid #000;font-weight: normal;padding: 8px;}
.table-oldage td {border: 1px solid #000;padding: 8px;}

.data-import {width: 85%; height:25px; border: 1px solid #a9a9a9;}

/* 2018.09.11 */
.select-morden {border-radius: 3px;padding: 2px 6px 4px;border: 1px solid #E2E2E2;font-size: 12px;color: #333;font-family: Microsoft YaHei;}
.select-morden:focus {outline: none;box-shadow: 0 0 5px rgba(0,0,0,.15);}
.bg-f9 {background: #f9f9f9;}

.table-chart-1 {width: 100%;border-collapse: collapse;border-spacing: 0;table-layout: fixed;}
.table-chart-1 tbody td{font-size: 14px;padding: 16px 4px;word-break: break-all;}

.progress-bar-1 {color: #333;font-size: 14px;}
.progress-bar-1 > * {vertical-align: middle;}
.progress-bar-1 .progress-name {display: inline-block;width: 70px;text-align: right;margin-right: 10px;}
.progress-bar-1 .progress-bar-track {width: 100%;white-space: nowrap;height: 16px;background: #E7E7E7;border-radius: 8px;margin: auto;}
.progress-bar-1 .progress-bar-track:after {content: attr(progress_count);}
.progress-bar-1 .progress-fill {border-radius: 0;height: 16px;border-radius: 8px;}

.progress-bar-1 .progress-bg-green {background-color: #6BE0E5;}
.progress-bar-1 .progress-bg-blue {background-color: #65ACFF;}
.progress-bar-1 .progress-bg-dirt {background-color: #FDC887;}
.progress-bar-1 .progress-bg-purple {background-color: #AF88FC;}

.input-form {font-size: 14px;line-height: normal;border: 1px solid #D9D9D9;border-radius: 3px;padding: 7px 10px;color: #333;outline: 0;-webkit-appearance: none;background-color: #fff;}
.input-form:focus {border: 1px solid #1890FF;}

.table-detail {width: 100%;border-collapse: collapse;border-spacing: 0;color: #444;table-layout: fixed;background: #fff;}
.table-detail thead {background: #fff;}
.table-detail thead th{font-size: 14px;padding: 16px 0;border-left: 0;border-right: 0;color: #333;background: #F7F6F6;}
.table-detail tbody td{padding: 20px 4px;border-left: 0;border-right: 0;font-size: 12px;word-break: break-all;color: #555;}
.table-detail tbody tr:nth-child(even) td {background: #f5f5f5;}
.table-detail tbody tr{padding: 12px 8px;border-left: 0;border-right: 0;font-size: 14px;word-break: break-all;}
.table-detail tbody tr:hover td {background: #F9FBFD;}

.page-info {font-size: 12px; line-height: 22px; display: inline-block;}
.page-tip { color: grey;}
.page-total { color: #ff782d;}
.page-option {padding: 0 2px;border-radius: 2px;cursor: pointer;border: 1px solid #E2E2E2;color: #333;outline: 0;}
.page-select-page {margin-left: 15px; color: grey;white-space: nowrap;line-height: 20px;}

.go-page {display: inline-block;font-size: 0;}
.go-page, .go-page * {box-sizing: content-box;}
.go-page > * {font-size: 12px;}
.go-page a, .go-page .go-page-span {display: inline-block;vertical-align: middle;padding: 0 16px;height: 30px;line-height: 30px;margin: 0 -1px 5px 0;background-color: #fff;border: 1px solid #e2e2e2;color: #333;font-size: 12px;text-decoration: none;outline: 0;}
.go-page a:hover, .go-page a.active, .go-page button:hover {background: #0092ed;color: #fff;border: 1px solid #0092ed;}
.go-page .go-page-span {border: 0;padding: 0;margin: 0 10px;vertical-align: top;}
.go-page a.active {border-radius: 2px;}
.go-page a.go-page-spr {color: #999;background: #fff;border: 1px solid #e2e2e2;}
.go-page a.go-disabled {border: 1px solid #e2e2e2;background: none;color: #d2d2d2;cursor: not-allowed;}
.go-page .go-page-limits {vertical-align: top;}
.go-page select {font-size: 12px;height: 22px;padding: 4px;border-radius: 2px;cursor: pointer;border: 1px solid #e2e2e2;}
.go-page input:focus, .go-page select:focus {outline: 0;border: 1px solid #0092ED;}
.go-page button, .go-page input {height: 30px;line-height: 30px;border: 1px solid #e2e2e2;border-radius: 2px;vertical-align: top;background-color: #fff;box-sizing: border-box;}
.go-page input {display: inline-block;width: 40px;margin: 0 8px;padding: 0 3px;text-align: center;}
.go-page button {margin-left: 10px;padding: 0 10px;cursor: pointer;outline: 0;}

.level-box-3 .level-toggle {cursor: pointer;}
.level-box-3 .level-expanded-show {display: none;}
.level-box-3 .level-expanded .level-expanded-show {display: initial;}
.level-box-3 .level-expanded .level-expanded-hide {display: none;}
.level-box-3 {color: #333;}
.level-box-3 .level-hover-show{display: none;}
.level-box-3 .level-1 .level-toggle:hover .level-hover-show{display: block;}
.level-box-3 .level-2:hover .level-hover-show{display: block;}
.level-box-3 .level-2:hover .level-hover-hide {display: none;}
.level-box-3 .level-2 .level-hover-press {display: none;}
.level-box-3 .level-2:hover .level-hover-press {display: block;}
.level-box-3 .level-2.press .level-hover-press {display: block;}
.level-box-3 .level-2.press .level-hover-hide {display: none;}
.level-box-3 .level-1 {padding: 0;}
.level-box-3 .level-1 > .level-toggle {padding: 8px 10px;font-size: 15px;}
.level-box-3 .level-2 {padding: 8px 20px 8px 30px;font-size: 12px;border: 1px solid transparent;}
.level-box-3 .level-2:hover, .level-box-3 .level-2.press {background: #DEEAF9;border: 1px solid #D2E3F6;}
.level-box-3 .level-toggle img {vertical-align: -2px;}
.level-box-3 .level-action img {margin-left: 2px;}
.level-box-3 .level-action img {margin-left: 2px;}
.level-box-3 .level-2:after {content: '';display: block;clear: both;}

/* 2018.09.14 */
.login_box_ssl {background: rgba(44, 185, 158, .08);border-radius: 3px;top: 50vh;position: absolute;right: 80px;margin-top: -200px;padding: 30px;}
.login_btn_ssl {display: block;color: #fff;font-size: 18px;text-align: center;line-height: 50px;background-color: #1275f8;border-radius: 3px;text-decoration: none;margin: 14px auto 18px;width: 370px;}
